<h2> ACTIVITY 1 PALMER PENGUIN DATA ANALYTICS PROJECT </h2>
<hr>

<h4> RENATO M. CRUZ JR. </h4>
<hr>

In [1]:
#libraries

In [2]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
haha = pd.read_csv('datasets//penguins.csv')

In [4]:
haha

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [5]:
haha.describe().T

,count,mean,std,min,25%,50%,75%,max
bill_length_mm,342.0,43.921930,5.459584,32.1,39.225,44.45,48.5,59.6
bill_depth_mm,342.0,17.151170,1.974793,13.1,15.600,17.30,18.7,21.5
flipper_length_mm,342.0,200.915205,14.061714,172.0,190.000,197.00,213.0,231.0
body_mass_g,342.0,4201.754386,801.954536,2700.0,3550.000,4050.00,4750.0,6300.0
year,344.0,2008.029070,0.818356,2007.0,2007.000,2008.00,2009.0,2009.0

<h2> FILTERING A COLUMN / DATA </h2>

In [6]:


haha['species']

0         Adelie
1         Adelie
2         Adelie
3         Adelie
4         Adelie
         ...
339    Chinstrap
340    Chinstrap
341    Chinstrap
342    Chinstrap
343    Chinstrap
Name: species, Length: 344, dtype: object

In [7]:

haha['sex']

0        male
1      female
2      female
3         NaN
4      female
        ...
339      male
340    female
341      male
342      male
343    female
Name: sex, Length: 344, dtype: object

In [8]:
haha[(haha['bill_depth_mm'] <= 20) & (haha['sex'] == 'torgersen')]

Empty DataFrame
Columns: [species, island, bill_length_mm, bill_depth_mm, flipper_length_mm, body_mass_g, sex, year]
Index: []

<h2> CLEANING THE DATA FRAME</h2>

In [9]:
haha.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

<h2> WHAT TO DO WITH THE NULL VALUES?</h2>

<h2> HOW TO FILLUP NULL VALUES?</h2>

In [10]:
haha['bill_length_mm'] = haha['bill_length_mm'].fillna(haha['bill_length_mm'].mean())

In [11]:
haha.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [12]:
haha['bill_depth_mm'] = haha['bill_depth_mm'].fillna(haha['bill_depth_mm'].mean())

In [13]:
haha.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [14]:
haha['flipper_length_mm'] = haha['flipper_length_mm'].fillna(haha['flipper_length_mm'].mean())

In [15]:
haha.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [16]:
haha['body_mass_g'] = haha['body_mass_g'].fillna(haha['body_mass_g'].mean())

In [17]:
haha.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           0
sex                  11
year                  0
dtype: int64

In [18]:
haha['sex'] = haha['sex'].fillna(haha['sex'].mode()[0])

In [19]:
haha.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

In [20]:
haha.info

<bound method DataFrame.info of        species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0       Adelie  Torgersen        39.10000       18.70000         181.000000
1       Adelie  Torgersen        39.50000       17.40000         186.000000
2       Adelie  Torgersen        40.30000       18.00000         195.000000
3       Adelie  Torgersen        43.92193       17.15117         200.915205
4       Adelie  Torgersen        36.70000       19.30000         193.000000
..         ...        ...             ...            ...                ...
339  Chinstrap      Dream        55.80000       19.80000         207.000000
340  Chinstrap      Dream        43.50000       18.10000         202.000000
341  Chinstrap      Dream        49.60000       18.20000         193.000000
342  Chinstrap      Dream        50.80000       19.00000         210.000000
343  Chinstrap      Dream        50.20000       18.70000         198.000000

     body_mass_g     sex  year
0    3750.000000    male  2007
1    3800.000000  female  2007
2    3250.000000  female  2007
3    4201.754386    male  2007
4    3450.000000  female  2007
..           ...     ...   ...
339  4000.000000    male  2009
340  3400.000000  female  2009
341  3775.000000    male  2009
342  4100.000000    male  2009
343  3775.000000  female  2009

[344 rows x 8 columns]>

In [21]:
haha.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,344.000000,344.000000,344.000000,344.000000,344.000000
mean,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,5.443643,1.969027,14.020657,799.613058,0.818356
min,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,39.275000,15.600000,190.000000,3550.000000,2007.000000
50%,44.250000,17.300000,197.000000,4050.000000,2008.000000
75%,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [22]:
haha['species'] = haha['species'].astype('category')

In [23]:
haha.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    category
 1   island             344 non-null    object
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    object
 7   year               344 non-null    int64
dtypes: category(1), float64(4), int64(1), object(2)
memory usage: 19.4+ KB

<h3> WHICH SPECIE OF PENGUIN AMONGST THE DATASET IS THE HEAVIEST ? </h3>

In [24]:
haha['body_mass_g'].mean()

np.float64(4201.754385964912)

In [25]:
adelie_df = haha[haha['species'] == "Adelie"]

In [26]:
adelie_df['body_mass_g'].mean()

np.float64(3703.95891043398)

In [27]:
haha[haha['species'] == "Adelie"]['body_mass_g'].mean()

np.float64(3703.95891043398)

<h3>WHICH SPECIE OF PENGUIN AMONGST THE DATA SET IS THE LIGHTEST</h3>

In [28]:
spl = haha.groupby('species')['body_mass_g'].mean().idxmin()

In [29]:
spl

'Adelie'


<h3>HOW MANY ADELIE SPECIE IN TORGERSEN ISLAND</h3>

<h3>THE MOST POPULATED ISLAND?</h3>

In [30]:
haha['island'].value_counts()

island
Biscoe       168
Dream        124
Torgersen     52
Name: count, dtype: int64

<h3> WHAT SPECIE IS THE HEAVIEST IN 2008</h3>

In [31]:
(haha['species'] == 'Adelie') & (haha['year'] == '2008')

0      False
1      False
2      False
3      False
4      False
       ...
339    False
340    False
341    False
342    False
343    False
Length: 344, dtype: bool

In [32]:

haha['year'] ==2008

0      False
1      False
2      False
3      False
4      False
       ...
339    False
340    False
341    False
342    False
343    False
Name: year, Length: 344, dtype: bool

In [33]:
haha_2008 = haha[(haha['species'] == 'Chinstrap') & (haha['year'] == 2008)]

In [34]:
haha_2008

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
302,Chinstrap,Dream,50.5,18.4,200.0,3400.0,female,2008
303,Chinstrap,Dream,49.5,19.0,200.0,3800.0,male,2008
304,Chinstrap,Dream,46.4,17.8,191.0,3700.0,female,2008
305,Chinstrap,Dream,52.8,20.0,205.0,4550.0,male,2008
306,Chinstrap,Dream,40.9,16.6,187.0,3200.0,female,2008
307,Chinstrap,Dream,54.2,20.8,201.0,4300.0,male,2008
308,Chinstrap,Dream,42.5,16.7,187.0,3350.0,female,2008
309,Chinstrap,Dream,51.0,18.8,203.0,4100.0,male,2008
310,Chinstrap,Dream,49.7,18.6,195.0,3600.0,male,2008
311,Chinstrap,Dream,47.5,16.8,199.0,3900.0,female,2008
312,Chinstrap,Dream,47.6,18.3,195.0,3850.0,female,2008
313,Chinstrap,Dream,52.0,20.7,210.0,4800.0,male,2008
314,Chinstrap,Dream,46.9,16.6,192.0,2700.0,female,2008
315,Chinstrap,Dream,53.5,19.9,205.0,4500.0,male,2008
316,Chinstrap,Dream,49.0,19.5,210.0,3950.0,male,2008
317,Chinstrap,Dream,46.2,17.5,187.0,3650.0,female,2008
318,Chinstrap,Dream,50.9,19.1,196.0,3550.0,male,2008
319,Chinstrap,Dream,45.5,17.0,196.0,3500.0,female,2008

<h3>What is the average flipper length for each penguin species, and how does it compare to their body mass?</h3>

In [35]:
haha.groupby('species') [['flipper_length_mm','body_mass_g']].mean()

           flipper_length_mm  body_mass_g
species
Adelie            190.025758  3703.958910
Chinstrap         195.823529  3733.088235
Gentoo            217.055768  5068.965761

<h1>Data Aggregation</h1>

<h3>How many penguin species in each island</h3>

In [36]:
sp_is_x = haha.groupby(['species', 'island']).count()

In [37]:
sp_is_x

                     bill_length_mm  bill_depth_mm  flipper_length_mm  \
species   island
Adelie    Biscoe                 44             44                 44
          Dream                  56             56                 56
          Torgersen              52             52                 52
Chinstrap Biscoe                  0              0                  0
          Dream                  68             68                 68
          Torgersen               0              0                  0
Gentoo    Biscoe                124            124                124
          Dream                   0              0                  0
          Torgersen               0              0                  0

                     body_mass_g  sex  year
species   island
Adelie    Biscoe              44   44    44
          Dream               56   56    56
          Torgersen           52   52    52
Chinstrap Biscoe               0    0     0
          Dream               68   68    68
          Torgersen            0    0     0
Gentoo    Biscoe             124  124   124
          Dream                0    0     0
          Torgersen            0    0     0

<h3>Which island have the heaviest penguins on each species</h3>

In [38]:
sp_bm_is = haha.groupby(['species','body_mass_g','island']).size()

In [39]:
sp_bm_is

species  body_mass_g  island
Adelie   2700.0       Biscoe       0
                      Dream        0
                      Torgersen    0
         2850.0       Biscoe       2
                      Dream        0
                                  ..
Gentoo   6050.0       Dream        0
                      Torgersen    0
         6300.0       Biscoe       1
                      Dream        0
                      Torgersen    0
Length: 855, dtype: int64

<h3>What is the heaviest species every year in each island</h3>

In [40]:
avg_body = haha.groupby(['species','island', 'year',])['body_mass_g'].mean()

In [41]:
avg_body

species    island     year
Adelie     Biscoe     2007    3620.000000
                      2008    3627.777778
                      2009    3857.812500
           Dream      2007    3671.250000
                      2008    3756.250000
                      2009    3651.250000
           Torgersen  2007    3785.087719
                      2008    3856.250000
                      2009    3489.062500
Chinstrap  Biscoe     2007            NaN
                      2008            NaN
                      2009            NaN
           Dream      2007    3694.230769
                      2008    3800.000000
                      2009    3725.000000
           Torgersen  2007            NaN
                      2008            NaN
                      2009            NaN
Gentoo     Biscoe     2007    5070.588235
                      2008    5019.565217
                      2009    5119.358054
           Dream      2007            NaN
                      2008            NaN
                      2009            NaN
           Torgersen  2007            NaN
                      2008            NaN
                      2009            NaN
Name: body_mass_g, dtype: float64

<h3>What is the average bill length of penguins on each island?</h3>

In [42]:
avg_body = haha.groupby(['island',])['bill_length_mm'].mean()

In [43]:
avg_body

island
Biscoe       45.249535
Dream        44.167742
Torgersen    39.046576
Name: bill_length_mm, dtype: float64

<h3>What is the average bodymass of female penguins for each species</h3>

In [44]:
haha[haha['sex'] == 'female'].groupby('species')['body_mass_g'].mean()

species
Adelie       3368.835616
Chinstrap    3527.205882
Gentoo       4679.741379
Name: body_mass_g, dtype: float64

<h3>male vs female Gentoo body mass:</h3>

In [45]:
haha[haha['species'] == 'Gentoo'].groupby('sex')['body_mass_g'].mean()

sex
female    4679.741379
male      5411.011430
Name: body_mass_g, dtype: float64

<h3>Do males generally have longer flippers?</h3>

In [50]:
haha.groupby(['species','sex'])['flipper_length_mm'].mean()

species    sex
Adelie     female    187.794521
           male      192.087534
Chinstrap  female    191.735294
           male      199.911765
Gentoo     female    212.706897
           male      220.877503
Name: flipper_length_mm, dtype: float64

<h3>What is the average bodymass of male adelie penguins</h3>

In [47]:
haha[(haha['species']=='Adelie')&(haha['sex']=='male')]['body_mass_g'].mean()

np.float64(4013.6298023539866)

<h3> Which species has the widest average bill depth? </h3>

In [54]:
haha.groupby('species')['bill_depth_mm'].mean()

species
Adelie       18.338495
Chinstrap    18.420588
Gentoo       14.999606
Name: bill_depth_mm, dtype: float64

<h3> Which island has the smallest average flipper length? </h3>

In [55]:
haha.groupby('island')['flipper_length_mm'].mean()

island
Biscoe       209.654257
Dream        193.072581
Torgersen    191.382985
Name: flipper_length_mm, dtype: float64

<h3> What is the average body mass of all penguin per year?</h3>

In [56]:
haha.groupby('year')['body_mass_g'].mean()

year
2007    4125.243222
2008    4266.666667
2009    4210.222953
Name: body_mass_g, dtype: float64

<h3>Among Chinstrap penguins, are males or females hevier?</h3>

In [57]:
haha[haha['species'] == 'Chinstrap'].groupby('sex') ['body_mass_g'].mean()

sex
female    3527.205882
male      3938.970588
Name: body_mass_g, dtype: float64

<h3>What is the average body mass of male and female Gentoo penguins?</h3>

In [58]:
haha[haha['species'] == 'Gentoo'].groupby('sex')['body_mass_g'].mean